header {
	padding: 20px;
}

.jumbotron {
	max-height: 500px;
	display: flex;
	align-items: center;
	background-image: url("../images/ministitch_stitchino_close.jpeg");
	background-size: cover;
	background-position: center;
}

.jumbotron h1 {
	text-align: center;
	color: white;
	text-shadow: 3px 2px 6px blue;
	margin: 5px;
}