header {
	background-image: url("../images/space.jpg");
	background-position: center;
	background-size: cover;
	color: cyan;
	text-shadow: 1px 1px 5px darkcyan;
}

header h1 {
	font-size: 35px;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
}

#about-stitch.jumbotron{
	max-height: 500px;
	display: flex;
	align-items: center;
	background-image: url("../images/ministitch_stitchino_close.jpeg");
	background-size: cover;
	background-position: center;
}

#about-stitch h2, #our-stitches h2, #stitch-media h2 {
	font-size: 100px;
	text-align: center;
	color: white;
	text-shadow: 3px 2px 6px blue;
	margin: 5px;
}

#about-me h2, #love-stitch h2 {
	font-size: 80px;
	text-align: center;
	color: white;
	text-shadow: 3px 2px 6px blue;
	margin: 5px;
}

#our-stitches.jumbotron {
	max-height: 500px;
	display: flex;
	align-items: center;
	background-image: url("../images/stitchnino_stitchina_low.jpeg");
	background-size: cover;
	background-position: center;
}

#stitch-media.jumbotron {
	max-height: 500px;
	display: flex;
	align-items: center;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
}

#love-stitch.jumbotron{
	max-height: 500px;
	display: flex;
	align-items: center;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
}

footer p {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#about-me.jumbotron{
	font-size: 100px;
	text-align: center;
	color: white;
	text-shadow: 3px 2px 6px blue;
	margin: 5px;
	align-items: center;
	background-image: url("../images/me.jpeg");
	background-size: contain;
}